.links{
    border: solid rgb(61, 61, 228);
    background-color: rgb(121, 226, 226);
    color:blue;

}
*{
font-family: "Pacifico";
color:white; 
}
p {
    display: flex;
    flex-wrap: wrap;
}
.later{
    color:red;
}
body{
    background-color: black;

}